<div class="ui container">
  <h1><a name="_non_submit">  </a>Submit an analysis</h1>
  <div class="ui divider"></div>
  <br><br>
  <p>We will contact with you for successful submissions</p>
  <br>
  <form class="ui form">
      <h4 class="ui dividing header">Personal information</h4>
      <div class="field">
          <label>Name</label>
          <div class="two fields">
              <div class="field">
                  <input type="text" name="first-name" placeholder="First Name">
              </div>
              <div class="field">
                  <input type="text" name="last-name" placeholder="Last Name">
              </div>
          </div>
          <div class="two fields">
              <div class="field">
                  <label>Institution</label>
                  <input type="text" name="address" placeholder="Institution">
              </div>
              <div class="field">
                  <label>Email</label>
                  <input type="text" name="email" placeholder="email@email">
              </div>
          </div>
      </div>

      <h4 class="ui dividing header">Analysis information</h4>

      <div class="field">
          <label>Analysis type</label>
          <select class="ui fluid dropdown">
              <option value="1">Single-unit analysis</option>
              <option value="2">Population analysis</option>
          </select>
      </div>
      <div class="field">
          <label>Analysis description</label>
          <textarea></textarea>
          <label>Analysis keywords</label>
          <div class="field">
              <input type="text" name="address" placeholder="linear/ nonlinear/ hill function/ sigmoid function">
          </div>
          <label>Related code repo</label>
          <div class="field">
              <input type="text" name="address" placeholder="https://github.com/user/repo.git">
          </div>
          <label>Reference (please tailed down to 3)</label>
          <div class="field">
              <input type="text" name="address" placeholder="reference 1">
          </div>
          <div class="field">
              <input type="text" name="address" placeholder="reference 2">
          </div>
          <div class="field">
              <input type="text" name="address" placeholder="reference 3">
          </div>
          <label>Other information</label>
          <textarea></textarea>
      </div>
      <div class="item">
      </div>
      <div class="ui right floated blue submit disabled button" tabindex="0">Submit Code</div>
      <br>
      <br>
      <br>
      <br>
  </form>
</div>
