<div class="ui container">
  <div class="ui text">
    <p>Our main API for dataset comparison includes: </p>
      <div class="ui bulleted large list">
        <div class="item">
          Code for performing dataset comparisons analyses
        </div>
        <div class="item">
          Code for models relating spiking and calcium activity
        </div>
        <div class="item">
          Precompiled datasets for testing
        </div>
      </div>
    <br>
    <p> Link to repo </p>
  </div>
</div>
