
<div class="ui container">
  <div class="ui text">
    <p>Something</p>
    <h1>Current stage</h1>
    <h3><div class="ui blue label">Project</div> Spike to calcium model <div class="ui orange label">v0.1</div> </h3>
    <div class="ui bulleted list">
      <div class="item">
        S2C Linar model
      </div>
      <div class="item">
        S2C Hill model
      </div>
      <div class="item">
        S2C Sigmoid model
      </div>
      <div class="item">
        <span class="ui inverted black label">Git</span> <a href="https://github.com/zqwei/Ca-Imaging-Deconv-List">https://github.com/zqwei/Ca-Imaging-Deconv-List</a>
      </div>
    </div>
    <h3><div class="ui blue label">Project</div> Calcium deconvolution algorithm benchmark test <div class="ui orange label">v0.1</div> </h3>
    <div class="ui bulleted list">
      <div class="item">
        Unsupervise-learning algorithm: Nonnegative Wienner Filter (Vogelstein et al., 2010)
      </div>
      <div class="item">
        Unsupervise-learning algorithm: FOOPSI (Vogelstein et al., 2010)
      </div>
      <div class="item">
        Unsupervise-learning algorithm: Finite Rate Innovation (Oñativia et al., 2013)
      </div>
      <div class="item">
        Unsupervise-learning algorithm: Constrained OOPSI AR(n) (Pnevmatikakis et al., 2016)
      </div>
      <div class="item">
        Unsupervise-learning algorithm: Constrained OOPSI MCMC (Pnevmatikakis et al., 2014)
      </div>
      <div class="item">
        Unsupervise-learning algorithm: Peel Linear (Grewe et al., 2010)
      </div>
      <div class="item">
        <span class="ui inverted black label">Git</span> <a href="https://github.com/zqwei/Ca-Imaging-Deconv-List">https://github.com/zqwei/Ca-Imaging-Deconv-List</a>
      </div>
    </div>
    <h3><div class="ui green label">Dataset</div> Simultaneous ephys-imaging dataset with GCaMP6f</h3>
    <div class="ui bulleted list">
      <div class="item">
        Experimenter: Bei-Jung Lin
      </div>
      <div class="item">
        Lab: Svoboda lab, Janelia Research Campus
      </div>
      <div class="item">
        Data share: doi:10.6080/K0S46PV7
      </div>
      <div class="item">
        <span class="ui inverted black label">Git</span> <a href="https://github.com/zqwei/Mat2NWB_Dataset_Cai-4">https://github.com/zqwei/Mat2NWB_Dataset_Cai-4</a>
      </div>
    </div>
    <br><br>
    <div class="ui divider"></div>
    <h1>Future release</h1>
    <h3><div class="ui green label">Dataset</div> Fast calcium imaging dataset</h3>
    <div class="ui bulleted list">
      <div class="item">
        Experimenter: Kayvon Daie
      </div>
      <div class="item">
        Lab: Druckmann lab, Svoboda lab, Janelia Research Campus
      </div>
      <div class="item">
        Data share: in future
      </div>
    </div>
    <h3><div class="ui blue label">Project</div> Dataset comparison <div class="ui orange label">v0.1</div></h3>
    <div class="ui bulleted list">
      <div class="item">
        Single-unit analysis: dynamics of neuronal selectivity
      </div>
      <div class="item">
        Single-unit analysis: peakiness
      </div>
      <div class="item">
        Population analysis: pca and its contents
      </div>
      <div class="item">
        Population analysis: linear discrimination analysis for trial type
      </div>
      <div class="item">
        Population analysis: linear discrimination analysis for behavioral stages
      </div>
      <div class="item">
        <span class="ui inverted black label">Git</span> underconstruction
      </div>
    </div>
    <h3><div class="ui blue label">Project</div> Dataset comparison <div class="ui orange label">v0.1.1</div></h3>
    <div class="ui bulleted list">
      <div class="item">
        Single-unit analysis: dynamics of neuronal modulation
      </div>
      <div class="item">
        Population analysis: noise correlation
      </div>
      <div class="item">
        Population analysis: dPCA
      </div>
      <div class="item">
        <span class="ui inverted black label">Git</span> underconstruction
      </div>
    </div>
    <h3><div class="ui blue label">Project</div> Calcium deconvolution algorithm benchmark test <div class="ui orange label">v0.1.1</div> </h3>
    <div class="ui bulleted list">
      <div class="item">
        Template-based algorithm: threshoulding 1st derivative
      </div>
      <div class="item">
        Template-based algorithm: data-driven template matching (Yaksi and Friedrich, Nature Methods, 2006; Greenberg et al., Nature Neurosci., 2008)
      </div>
      <div class="item">
        Unsupervise-learning algorithm: ICA, or Blind source separation (Park et al., J. Neurosci. Methods, 2013).
      </div>
      <div class="item">
        Unsupervise-learning algorithm: Sequential Monte Carlo Methods (Vogelstein et al., Biophys. J. 2009).
      </div>
      <div class="item">
        Supervise-learning algorithm: PCA + Supporting vector machine (Sasaki et al., J. Neurophysiol., 2008)
      </div>
      <div class="item">
        Supervise-learning algorithm: Spike-Triggered Mixture model (Theis et al., Neuron, 2016)
      </div>
      <div class="item">
        Supervise-learning algorithm: GLM model (Ganmor et al., arXiv)
      </div>
      <div class="item">
        <span class="ui inverted black label">Git</span> underconstruction
      </div>
    </div>
    <br><br><br>
  </div>
</div>
