<h3>
    We would like to incorporate new models (spike to calcium and calcium
    to spike) and/or benchmarking code.
</h3>
<h3>
    Ideally, please look at our repo LINK and API to facilitate integration of the code. Even if you can't do that we will try to incorporate the code ourselves and we will contact you as the code is incorporated.
</h3>
<h3>Please contact <a href="mailto:weiz@janelia.hhmi.org?Subject=Dataset%20comparison%20website%20submit%20code">us</a> directly if the submit button is invalid.</h3>
<br>
<div class="ui divider"></div>
<br>
<div class="ui container">
  <form class="ui form">
    <h4 class="ui dividing header">Personal information</h4>
    <div class="field">
      <label>Name</label>
      <div class="two fields">
        <div class="field">
          <input type="text" name="first-name" placeholder="First Name">
        </div>
        <div class="field">
          <input type="text" name="last-name" placeholder="Last Name">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Institution</label>
          <input type="text" name="address" placeholder="Institution">
        </div>
        <div class="field">
          <label>Email</label>
          <input type="text" name="email" placeholder="email@email">
        </div>
      </div>
    </div>

    <h4 class="ui dividing header">Code information</h4>

    <div class="field">
      <label>Code type</label>
      <select class="ui fluid dropdown">
                <option value="1">Spike to imaging model</option>
                <option value="2">Imaging to spike model</option>
                <option value="3">Bechmarks</option>
                <option value="4">Other</option>
            </select>
    </div>
    <div class="field">
      <label>Repo</label>
      <div class="field">
        <input type="text" name="address" placeholder="https://github.com/user/repo.git">
      </div>
      <label>Reference (please tailed down to 3)</label>
      <div class="field">
        <input type="text" name="address" placeholder="reference 1">
      </div>
      <div class="field">
        <input type="text" name="address" placeholder="reference 2">
      </div>
      <div class="field">
        <input type="text" name="address" placeholder="reference 3">
      </div>
      <label>Other information</label>
      <textarea></textarea>
    </div>
    <div class="ui right floated blue submit disabled button" tabindex="0">Submit Code</div>
    <br>
    <br>
    <br>
    <br>
  </form>
</div>
