
<div class="ui container">
  <div class="ui text">
    <h1>Main API</h1>
    <p> Our main API for dataset comparison includes
      <div class="ui bulleted large list">
        <div class="item">
          Code for performing dataset comparisons analyses;
        </div>
        <div class="item">
          Code for models relating spiking and calcium activity;
        </div>
        <div class="item">
          Precompiled datasets for testing.
        </div>
      </div>
    </p>
    <br>
    <h3>Dataset comparison <div class="ui red label">API</div> <div class="ui orange label">v1.0</div></h3>
    <div class="ui bulleted large list">
      <div class="item">
        Single-unit analysis: dynamics of neuronal selectivity
      </div>
      <div class="item">
        Single-unit analysis: peakiness
      </div>
      <div class="item">
        Population analysis: pca and its contents
      </div>
      <div class="item">
        Population analysis: linear discrimination analysis for trial type
      </div>
      <div class="item">
        Population analysis: linear discrimination analysis for behavioral stages
      </div>
      <div class="item">
        <span class="ui inverted black label">Git</span> underconstruction
      </div>
    </div>
    <h3>Dataset comparison <div class="ui red label">API</div> <div class="ui orange label">v1.1</div></h3>
    <div class="ui bulleted large list">
      <div class="item">
        Single-unit analysis: dynamics of neuronal modulation
      </div>
      <div class="item">
        Population analysis: noise correlation
      </div>
      <div class="item">
        Population analysis: dPCA
      </div>
      <div class="item">
        <span class="ui inverted black label">Git</span> underconstruction
      </div>
    </div>
    <br><br>
    <div class="ui divider"></div>

    <h1>Side Projects</h1>

    <h3> Spike to calcium model <div class="ui blue label">Model</div> <div class="ui orange label">v0.1</div> </h3>
    <div class="ui bulleted large list">
      <div class="item">
        S2C Linear model
      </div>
      <div class="item">
        S2C Hill model
      </div>
      <div class="item">
        S2C Sigmoid model
      </div>
      <div class="item">
        <span class="ui inverted black label">Git</span> <a href="https://github.com/zqwei/Ca-Imaging-Deconv-List">https://github.com/zqwei/Ca-Imaging-Deconv-List</a>
      </div>
    </div>
    <h3> Calcium deconvolution algorithm benchmark test <div class="ui blue label">Model</div> <div class="ui orange label">v0.1</div> </h3>
    <div class="ui bulleted large list">
      <div class="item">
        Unsupervised learning algorithm: Nonnegative Wienner Filter (Vogelstein et al., 2010)
      </div>
      <div class="item">
        Unsupervised learning algorithm: FOOPSI (Vogelstein et al., 2010)
      </div>
      <div class="item">
        Unsupervised learning algorithm: Finite Rate Innovation (Oñativia et al., 2013)
      </div>
      <div class="item">
        Unsupervised learning algorithm: Constrained OOPSI AR(n) (Pnevmatikakis et al., 2016)
      </div>
      <div class="item">
        Unsupervised learning algorithm: Constrained OOPSI MCMC (Pnevmatikakis et al., 2014)
      </div>
      <div class="item">
        Unsupervised learning algorithm: Peel Linear (Grewe et al., 2010)
      </div>
      <div class="item">
        <span class="ui inverted black label">Git</span> <a href="https://github.com/zqwei/Ca-Imaging-Deconv-List">https://github.com/zqwei/Ca-Imaging-Deconv-List</a>
      </div>
    </div>
    <h3> Simultaneous ephys-imaging dataset with GCaMP6f <div class="ui green label">Dataset</div> </h3>
    <div class="ui bulleted large list">
      <div class="item">
        Experimenter: Bei-Jung Lin
      </div>
      <div class="item">
        Lab: Svoboda lab, GENIE Project, Janelia Research Campus
      </div>
      <div class="item">
        Data share: doi:10.6080/K0S46PV7
      </div>
      <div class="item">
        <span class="ui inverted black label">Git</span> <a href="https://github.com/zqwei/Mat2NWB_Dataset_Cai-4">https://github.com/zqwei/Mat2NWB_Dataset_Cai-4</a>
      </div>
    </div>
    <br><br>
    <div class="ui divider"></div>


    <h1>Future release</h1>
    <h3>Please following our <a href="develop">Develop log</a> for updates of future release.</h3>
    <br><br>
  </div>
</div>
