<div class="ui container">
  <!--  menu the name of Datasets -->
  <!-- <div class="ui left vertical menu"> -->
    {{#each collection}}
      <!-- <a class="item"> -->
        {{name}} <br>
        {{#each datasets}}
          "Hello" <br>
        {{/each}}
      <!-- </a> -->
    {{/each}}
  <!-- </div> -->
</div>
