<div class="ui text container">
<p>
    <h3>
        {{subject}}
    </h3>
</p>
</div>

<div class="ui container"> <div id="data_collection"></div> </div>

<script src = 'js/json_html_data.js'></script>

<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
