<h3>
We are continuing incorporating the simultaneous and non-simultaneous large-scale recordings.
</h3>
<h3>
Thanks for supporting our project and please leave links of your data from <a href="crcns.org">crcns.org</a>, Dropbox, Google drive or
<a href="https://datproject.org">Dat</a>. We will contact with you later as the datasets being incorporated.
</h3>
<h3>Please contact <a href="mailto:weiz@janelia.hhmi.org?Subject=Dataset%20comparison%20website%20submit%20data">us</a> directly if the submit button is invalid.</h3>
<br>
<div class="ui divider"></div>
<br>

<div class="ui container">
  <form class="ui form">
    <h4 class="ui dividing header">Personal information</h4>
    <div class="field">
      <label>Name</label>
      <div class="two fields">
        <div class="field">
          <input type="text" name="first-name" placeholder="First Name">
        </div>
        <div class="field">
          <input type="text" name="last-name" placeholder="Last Name">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Institution</label>
          <input type="text" name="address" placeholder="Institution">
        </div>
        <div class="field">
          <label>Email</label>
          <input type="text" name="email" placeholder="email@email">
        </div>
      </div>
    </div>

    <h4 class="ui dividing header">Dataset information</h4>

    <div class="field">
      <label>Dataset type</label>
      <select class="ui fluid dropdown">
                <option value="1">Simultaneous ephys-imaging dataset</option>
                <option value="2">Simultaneous dataset (ephys only)</option>
                <option value="3">Simultaneous dataset (imaging only)</option>
                <option value="4">Other</option>
            </select>
    </div>
    <div class="field">
      <label>Dataset share link</label>
      <div class="field">
        <input type="text" name="address" placeholder="crcns.org/dropbox/google drive/dat link">
      </div>
      <label>Reference (please tailed down to 3)</label>
      <div class="field">
        <input type="text" name="address" placeholder="reference 1">
      </div>
      <div class="field">
        <input type="text" name="address" placeholder="reference 2">
      </div>
      <div class="field">
        <input type="text" name="address" placeholder="reference 3">
      </div>
      <label>Other information</label>
      <textarea></textarea>
    </div>
    <div class="ui right floated blue submit disabled button" tabindex="0">Submit Code</div>
    <br>
    <br>
    <br>
    <br>
  </form>
</div>
