<div class="ui container">
  <div class="ui text">
    <p>We describe each model in detail and continue to incorporate new models in <a href="model">Models</a> page.</p>
    <h1>Model fits</h1>
    <div class="ui form" id=>
      <div class="two fields">
        <div class="field">
          <label>Datasets</label>
          <div class="ui fluid search selection dropdown" id='simDatasetID'>
            <div class="default text"> Select a dataset</div>
            <div class="menu">
              {{#each simFormList}}
              <div class="item" data-value={{alias}}>{{name}}</div>
              {{/each}}
            </div>
          </div>
        </div>
        <div class="field">
          <label>Recording</label>
          <div class="ui fluid search selection dropdown">
            <div class="default text"> Select a cell in a session</div>
            <div class="menu" id='simDataID'>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="ui right floated blue button" id='plot_btn'>Plot</button>
    <br>
    <br>



    <div class="ui basic segment" id='simChart'>
      <br><br><br><br><br><br><br><br><br>
    </div>
    <h1>Performances</h1>
    <div class="ui divider"></div>
    <br><br>

  </div>
</div>

<script type="text/javascript">
  $(function(){
    $('#simDatasetID').dropdown({
      onChange: function(value){
        var html = '';
        $.getJSON('/results/sim_'+ value +'.json', function(resultsJson){
          $.each(resultsJson, function(ind, val){
            html += '<div class="item" data-value="' + val.name + '">' + val.name + '</div>';
          });
          $('#simDataID').html(html);
        });
      }
    });
    $('#compare_btn').on('click', function(event){
      event.preventDefault();
    });
  });
</script>
