<div class="ui footer inverted vertical segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="five wide column">
        <h3 class="ui inverted header">Contact Us</h3>
        <div class="inverted item">
            Ziqiang Wei <a href="mailto:weiz@janelia.hhmi.org?Subject=Dataset%20comparison%20website"><i class="white mail icon"></i></a> <br>
            Janelia Research Campus <br>
            19700 Helix Drive <br>
            Ashburn, VA 20147
        </div>
      </div>
      <div class="six wide column">
          <h3>License</h3>
          <br>
          MIT?(The one I usually use)
      </div>
      <div class="five wide column">
        <h3 class="ui inverted header">Social Media</h3>
        <br>
        <span class="item">
            <i class="big inverted github icon"></i>
        </span>
        <span class="item">
            <i class="big inverted slack icon"></i>
        </span>
        <span class="item">
            <i class="big inverted twitter icon"></i>
        </span>
        <span class="item">
            <i class="big inverted bug icon"></i>
        </span>
        <span class="item">
            <i class="big inverted share alternate icon"></i>
        </span>
      </div>
    </div>
  </div>
</div>
