<div class="ui footer inverted vertical segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="five wide column">
        <h3 class="ui inverted header">Contact Us</h3>
        <br>
        <div class="inverted item">
          Ziqiang Wei <a href="mailto:weiz@janelia.hhmi.org?Subject=Dataset%20comparison%20website"><i class="white mail icon"></i></a>
          Shaul Druckmann <a href="mailto:shauld@stanford.edu?Subject=Dataset%20comparison%20website"><i class="white mail icon"></i></a>

          <br> Janelia Research Campus <br> 19700 Helix Drive <br> Ashburn, VA 20147
        </div>
      </div>
      <div class="six wide column">
        <h3>License</h3>
        <br>
        The content of this project itself is licensed under the <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">
        Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 license</a>, and the underlying source code used to format and
        display that content is licensed under the <a href="https://github.com/zqwei/Neural-Recording-Methodology-Comparison/blob/master/LICENSE.md">MIT license</a>.
      </div>
      <div class="five wide column">
        <h3 class="ui inverted header">Social Media</h3>
        <br>
        <span class="item">
          Follow us:
        </span>
        <span class="item">
          <a href="https://github.com/zqwei/Neural-Recording-Methodology-Comparison">
            <i class="big inverted github icon"></i>
          </a>
        </span>
        <span class="item">
          <a href="https://join.slack.com/t/ephys-imaging/signup">
            <i class="big inverted slack icon"></i>
          </a>
        </span>
        <span class="item">
          <a href="https://twitter.com/ephys_imaging">
            <i class="big inverted twitter icon"></i>
          </a>
        </span>
        <span class="item">
          <a href="https://github.com/zqwei/Neural-Recording-Methodology-Comparison/issues">
            <i class="big inverted bug icon"></i>
          </a>
        </span>
        <br>
        <br>
        <span class="item">
          Share us:
        </span>
        <!-- Sharingbutton Facebook -->
        <span class="item">
          <a class="resp-sharing-button__link" href="https://facebook.com/sharer/sharer.php?u=http%3A%2F%2Fim-phys.org" target="_blank" aria-label="Share on Facebook">
            <i class="big inverted blue facebook icon"></i>
          </a>
        </span>
        <span class="item">
          <a class="resp-sharing-button__link" href="https://twitter.com/intent/tweet/?url=http%3A%2F%2Fim-phys.org" target="_blank" aria-label="Share on Twitter">
            <i class="big inverted blue twitter icon"></i>
          </a>
        </span>
        <span class="item">
          <a class="resp-sharing-button__link" href="https://www.linkedin.com/shareArticle?url=http%3A%2F%2Fim-phys.org" target="_blank" aria-label="Share on LinkedIn">
            <i class="big inverted blue linkedin square icon"></i>
          </a>
        </span>
        <span class="item">
          <a class="resp-sharing-button__link" href="https://plus.google.com/share?url=http%3A%2F%2Fim-phys.org" target="_blank" aria-label="Share on Google+">
            <i class="big inverted red google plus square icon"></i>
          </a>
        </span>
        <span class="item">
          <a class="resp-sharing-button__link" href="mailto:?subject=Ephys-imaging%20recording%20technique%20comparison%20website&amp;body=http%3A%2F%2Fim-phys.org" target="_self" aria-label="Share by E-Mail">
            <i class="big inverted mail icon"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
