<!-- Following Menu -->
<div class="ui inverted large top fixed hidden menu">
  <div class="ui container">
    {{> _main_menu_items}}
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  {{> _main_menu_items}}
</div>
