<a class="{{#if active.home}}active{{/if}} red item" href="/">Home</a>
<a class="{{#if active.analyses}}active{{/if}} yellow item" href="analyses">Analyses</a>
<a class="{{#if active.data}}active{{/if}} teal item" href="data">Datasets</a>
<a class="{{#if active.model}}active{{/if}} blue item" href="model">Models</a>
<a class="{{#if active.codes}}active{{/if}} purple item" href="codes">Codes</a>
