<div class="ui red segment">
    <h3>Please selective matched datasets to compare <i class="arrow circle down icon"></i></h3>
    <div class="ui grid form" id='s2cformList'>
      <div class="four wide column">
        <div class="ui fluid left large secondary vertical pointing menu">
          {{#each s2cFormList}}
            <a class="{{#ifCond @key 0}}active{{/ifCond}} item" data-tab="data-{{@key}}")>
              {{name}}
            </a>
          {{/each}}
        </div>
      </div>
      <div class="eight wide column">
        {{#each s2cFormList}}
          <div class="ui {{#ifCond @key 0}}active{{/ifCond}} tab text" data-tab="data-{{@key}}">
              {{#each matched}}
              <div class="inline field">
                <div class="ui checkbox">
                  <input type="checkbox" tabindex="0" class="hidden">
                  <label>{{name}}</label>
                </div>
              </div>
              {{/each}}
          </div>
        {{/each}}
      </div>
      <div class="four wide column">
      </div>
    </div>
</div>
<table class="ui celled striped five column table">
    <thead>
        <tr>
            <th colspan="5">
                Benchmark table
            </th>
      </tr>
      <tr>
          <th>Dataset Name</th>
          <th>Fraction selective neuron</th>
          <th>Peakness</th>
          <th>PC content</th>
          <th>Decodability</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
  </tbody>
</table>



<script type="text/javascript">
    $(document).ready(function(){
        $('#s2cformList .menu .item').tab({context:$("#s2cformList")});
    });
</script>
