<p>
  Our comparisons were mainly built up from three spike to calcium models. All of our spike to calcium
  models consists of two steps. First, spikes at times $\{t_k\}$ are converted to a latent variable, $c(t)$,
  by convolution with a double-exponential kernel:
  $$c(t)=\sum_{t>t_k}\exp(-\frac{t-t_k}{\tau_d})[1-\exp(-\frac{t-t_k}{\tau_r})]+n_i(t)$$
  where $\tau_r$and $\tau_d$ are the rise and decay times, respectively. $n_i(t)\sim N(0, \sigma_i^2)$ is Gaussian distributed
  "internal" noise with negative values were set to zero. Second, c(t) was converted to a synthetic
  fluorescence signal through a general function $f(\cdot)$:
  $$\Delta F/F_{synth}(t) = f(c(t)) + n_e(t)$$
  where $n_e(t)\sim N(0, \sigma_e^2)$ is Gaussian distributed "external" noise.
</p>
<p>
  <span class="ui inverted green label">Disclaimer</span> Please cite our work while these spike to calcium models are useful in your researches.
</p>
<h2>S2C Linear</h2>
<p>
  $$f(c(t)) = F_{\max}\cdot c(t) + F_0$$
  where $F_{\max}$ is the maximum possible fluorescence change, $F_{0}$ is the mimimun possible fluorescence change.
</p>
<h2>S2C Hill</h2>
<p>
  $$f(c(t)) = F_{\max}\frac{c(t)^n}{c(t)^n+K_d}$$
  where $n$ is a non-linearity, $K_d$ is a half-activation parameter, $F_{\max}$ is the maximum possible fluorescence change.
</p>
<h2>S2C Sigmoid</h2>
<p>
  $$f(c(t)) = F_{\max}\frac{1}{\exp[-k(c(t)-c_{1/2})]+1}$$
  where $k$ is a non-linearity, $c_{1/2}$ is a half-activation parameter, $F_{\max}$ is the maximum possible fluorescence change.
</p>
<br><br><br>
