<div class="ui container" id='codetab'>
  <div id='code_menu' class="ui two item secondary pointing menu">
    <a class="active item" data-tab="non_sim"><h2>Nonsimultaneous Ephys/Imaging</h2></a>
    <a class="item" data-tab="sim"><h2>Simultaneous Ephys-Imaging</h2></a>
  </div>

  <div class="ui bottom attached active tab text" data-tab="non_sim">
    {{> _non_ephys_ca}}
  </div>

  <div class="ui bottom attached tab text" data-tab="sim">
    {{> _ephys_ca}}
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#codetab .menu .item').tab({
      context: $("#codetab")
    });
  });
</script>
