<div class="ui inverted vertical masthead center aligned segment">

  <!-- imges -->
  <div class="ui container">
    <div class="ui text container">
      <br> <br>
      <i class="huge icons">
                <i class="pink big thin circle icon"></i>
      <i class="github alternate icon"></i>
      </i>
      <i class="huge icons">
                <i class="green big thin circle icon"></i>
      <i class="bitbucket icon"></i>
      </i>
      <h1 class="ui inverted header"> With the Power of Open Source </h1>
      <br> <br>
    </div>
  </div>
</div>

<!-- contents -->
<div class="ui container" id='codetab'>
  <div id='code_menu' class="ui three item secondary pointing menu">
    <a class="active item" data-tab="non_sim"><h2>Nonsimultaneous Ephys/Imaging</h2></a>
    <a class="item" data-tab="sim"><h2>Simultaneous Ephys-Imaging</h2></a>
    <a class="item" data-tab="benchmark_submit"><h2>Submit an analysis</h2></a>
  </div>

  <div class="ui bottom attached active tab text" data-tab="non_sim">
    {{> _non_ephys_ca}}
  </div>

  <div class="ui bottom attached tab text" data-tab="sim">
    {{> _ephys_ca}}
  </div>

  <div class="ui bottom attached tab text" data-tab="benchmark_submit">
    {{> _analysis_submit}}
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#codetab .menu .item').tab({
      context: $("#codetab")
    });
  });
</script>