<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui container">
    <div class="ui text container">
      <!-- I don't like these icons
      <br> <br>
      <i class="huge icons">
                <i class="pink big thin circle icon"></i>
      <i class="github alternate icon"></i>
      </i>
      <i class="huge icons">
                <i class="green big thin circle icon"></i>
      <i class="bitbucket icon"></i>
      </i>
      <h1 class="ui inverted header"> With the Power of Open Source </h1>
      <br> <br>
      !-->
    </div>
  </div>
</div>

<!-- contents -->
<div class="ui container" id='codetab'>
  <div id='code_menu' class="ui two item secondary pointing menu">
    <a class="active item" data-tab="collection"><h2>Current release</h2></a>
    <a class="item" data-tab="submit"><h2>Submit code</h2></a>
  </div>

  <div class="ui bottom attached active tab text" data-tab="collection" id='tmp_collection'>
    {{> _code_collection}}
  </div>
  <div class="ui bottom attached tab text" data-tab="submit" id='tmp_submit'>
    {{> _code_submit}}
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#codetab .menu .item').tab({
      context: $("#codetab")
    });
  });
</script>
