<div class="ui inverted vertical masthead center aligned segment">
  <div class='ui container' id='headerbanner'>
    <img src="images/DiagramOfDataComparisonBlackBackground.png" class='ui centered huge image' />
  </div>
</div>

<!-- contents -->
<div class="ui container">
  <div class="ui vertical stripe quote segment">
    <div class="ui container">
      <br>
      <h1 align='left'> Different methods for recording neural activity offer
            different tradeoffs for interrogating neural activity</h1>
      <p>
        Each method, has its own biases and idiosyncracies.
        This website is a platform to understand how population analyses performed on data acquired with different recording methods are related to each other. For instance, performing ostensibly the same analysis on a dataset recorded by electrophysiology
        or calcium imaging may result in different aspects of the data being more prominent. Luckily we have a fairly good understanding of how activity is transformed into calcium-dependent fluorescencen signals, at least in some situations. Here you can find the results of our analysis as well as an invitation to add additional datasets and analyses.
      </p>
      <div class="ui accordion">
        <div class="title">
          <h3>
            <i class="dropdown icon"></i>
            Read more</h3>
        </div>
        <div class="content">
          <p>
            Ephys directly reports the spiking activity of neurons with a high signal-to-noise ratio, temporal fidelity, and dynamic range, but typically offers access only to a sparse subset of relatively active neurons in a local circuit. In addition, the ability
            to track the same population of neurons across time, important for understanding the neural basis of learning, remains challenging. In contrast, calcium imaging reports spiking activity indirectly. The transformation from spikes to calcium
            is non-linear due to the dynamics of the intracellular calcium concentration. Additional nonlinearities and dynamic range limitations are imposed by protein-based indicators of calcium. However, calcium imaging provides access to large numbers
            of neurons simultaneously, potentially with cell type specificity. Moreover, calcium imaging can track the activity of the same neuronal populations over time. With the development of highly sensitive fluorescent protein-based indicators and
            powerful new imaging methods calcium imaging has been rapidly adopted for measurements of neural population activity.
          </p>
          <p>
            We have compared neural populations recorded with calcium imaging (GCaMP) and extracellular recordings (ephys) in mice performing a delayed discrimination task where the dynamics of the neural circuit are rich and variable across neurons. Neurons in frontal cortex fire at a wide range
            of spike rates and exhibit diverse temporal dynamics and selectivity, correlated with behavioral parameters. We analyzed ephys and calcium imaging measured in matched neuronal populations in the same behavioral task
            and directly compared the results of standard measurements of selectivity and population dynamics. We find quantitative and qualitative discrepancies at both the level of single cells and neural populations. These discrepancies are caused by non-linear and variable responses of GCaMP in individual neurons (<a href="analyses">Benchmarks and Results</a>).
          </p>
        </div>
      </div>
      <br>
    </div>
  </div>

  <!-- <div class="ui vertical stripe quote segment">
    <div class="ui container">
      <br>
      <h1>Publication</h1>
      <p>Currently under review. Bioarxiv link </p>
      <br>
      <h2><i class='thumbs up icon'></i>Citation</h2>
      <p>If you find this resource, or any part of it, helpful to your work, please support open science by citing our publication</p>
      <br>
    </div>
  </div> -->
</div>
