<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>
<script type="text/javascript" src="/node_modules/mathjax/MathJax.js?config=MML_HTMLorMML-full.js">
</script>

<div class="ui container" id='modeltab'>
  <div class="ui secondary pointing menu">
    <a class="active item" data-tab="model_s2c"><h3>S2C model</h3></a>
    <a class="item" data-tab="model_c2s"><h3>C2S model</h3></a>
    <a class="item" data-tab="model_benchmark"><h3>Benchmarks</h3></a>
  </div>

  <div class="ui bottom attached active tab text" data-tab="model_s2c">
    {{> _s2c_model}}
  </div>
  <div class="ui bottom attached tab text" data-tab="model_c2s">
    {{> _c2s_model}}
  </div>
  <div class="ui bottom attached tab text" data-tab="model_benchmark">
    {{> _benchmark}}
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#modeltab .menu .item').tab({
      context: $("#modeltab")
    });
  });
</script>
