<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>
<script type="text/javascript" src="/node_modules/mathjax/MathJax.js?config=MML_HTMLorMML-full.js">
</script>

<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui container">
    <div class="ui text container">
      <!-- I don't like these icons

      <h1 class="ui inverted header"> We are for Neurodata Without Borders </h1>
      <br> <br>
      !-->
    </div>
  </div>
</div>

<!-- contents -->
<div class="ui container" id='modeltab'>
  <div class="ui two item secondary pointing menu">
    <a class="active item" data-tab="model_s2c"><h2>Spike to calcium model</h2></a>
    <a class="item" data-tab="model_c2s"><h2>Calcium to spike model</h2></a>
  </div>

  <div class="ui bottom attached active tab text" data-tab="model_s2c">
    {{> _s2c_model}}
  </div>
  <div class="ui bottom attached tab text" data-tab="model_c2s">
    {{> _c2s_model}}
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#modeltab .menu .item').tab({
      context: $("#modeltab")
    });
  });
</script>
